:root {
    --text-blue: #2A7AE4;
    --text-white: #FFF;
    --text-dark-grey: #464646;
    --text-grey: #A2A2A2;
    --text-red: #FF0000;

    --bg-light-grey: #E5E5E5;
    --bg-light-white: #EAF2FD; 
    --bg-blue: #2A7AE4;
    --bg-white: #FFF;
}

.container-header {
    display: flex;
    column-gap: 40px;
    padding: 32px 0 32px 120px;   
}

.logo-header img {
    width: 110%;
}

.logo-header img {
    width: 110%;
}

#header-input {
    padding: 8px 16px;
    width: 393px;
    height: 40px;
    background-color: var(--bg-light-grey);
    border-radius: 20px;
    border: none;
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 360px;
    outline: none;
}

#header-input::placeholder {
    color: var(--text-grey);
    font-size: 14px;
}

.menu-administrador {
    background-color: var(--bg-white);
    color: var(--text-blue);
    border: 1px solid var(--text-blue);
    padding: 0 20px;
    margin-left: 250px;
}

.imagem-lupa {
    display: none;
}

.formulario-adicionar-produto {
    display: flex;
    flex-direction: column;
    padding: 64px 0;
    align-items: center;
    background: var(--bg-light-grey);
    row-gap: 10px;
}

.titulo-adicionar-produto {
    font-weight: 700;
    font-size: 32px;
    color: var(--text-dark-grey);
}

.inputs-adicionar {
    display: flex;
    flex-direction: column;
    background: var(--bg-white);
    border-radius: 4px;
    border: none;
    width: 560px;
    height: 56px;
    row-gap: 5px;
    box-shadow: 0 2px var(--text-grey);
}

.inputs-adicionar label {
    font-size: 12px;
    color: var(--text-grey);
}

.dados-produto {
    border: none;
    color: var(--text-dark-grey);
    outline: none;
}

#descricao-do-produto {
    border: none;
    padding: 10px 0 0 10px;
    box-shadow: 0 2px var(--text-grey);
    resize: none;
    width: 559px;
    height: 82px;
    outline: none;
}

#descricao-do-produto::placeholder {
    color: var(--text-grey);
}

.botao-adicionar-produto {
    background: var(--bg-blue);
    padding: 16px;
    border: none;
    color: var(--bg-white); 
    width: 560px;
    height: 56px;
}

.informacoes {
    background: var(--bg-light-white);
    display: flex;
    padding: 64px;
    justify-content: space-around;
}

.informacoes-empresa {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500px;
    color: var(--text-dark-grey);
}

li {
    list-style: none;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column; 
}

.fale-conosco {
    color: var(--text-dark-grey);
    font-weight: 700;
    margin: 8px;
}

.nome-formulario {
    display: flex;
    flex-direction: column;
    background: var(--bg-white);
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    width: 560px;
    height: 56px;
    row-gap: 5px;
    box-shadow: 0 2px var(--text-grey);
}

.nome-formulario label {
    color: var(--text-grey);
    font-size: 12px;
}

#nome {
    border: none;
    border-radius: 5px;
    outline: none;
}

#nome::placeholder {
    color: var(--text-dark-grey);;
}

.alerta {
    margin: 10px 0 5px;
    font-size: 11px;
    color: var(--text-red);
    display: none;
}

#mensagem {
    border: none;
    padding: 10px 0 0 10px;
    box-shadow: 0 2px var(--text-grey);
    resize: none;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
}

.enviar-msg-contato {
    color: var(--bg-white);
    font-weight: 400;
    background: var(--bg-blue);
    border: none;
    text-align: center;
    width: 151px;
    height: 40px;
    margin-top: 8px;
}

.rodape {
    text-align: center;
    background: var(--bg-white);
    padding: 10px;
    color: var(--text-dark-grey);
    font-size: 13px;
    font-weight: 700;
}

.rodape a {
    text-decoration: none;
    color: var(--text-dark-grey);
}

@media screen and (max-width:1120px) {
    .menu-administrador {
        margin-left: 0;
    }

    .informacoes {
        padding: 32px;
    }

    .informacoes-empresa {
        flex-direction: column;
    }
}

@media screen and (max-width:910px){
    .nome-formulario {
        width: 370px;
    }

    #header-input {
        width: 280px;
        background-position-x: 240px;
    }

    .container-header {
        column-gap: 30px;
        padding: 32px 0 32px 60px;
    }
}

@media screen and (max-width:670px) {
    .container-header {
        padding: 32px 0 32px 20px;
    }

    #header-input {
        display: none;
    }

    .imagem-lupa {
        display: block;
    }

    .titulo-adicionar-produto {
        font-size: 28px;
    }

    .formulario-adicionar-produto {
        padding: 30px 20px;
    }

    .inputs-adicionar {
        width: 100%;
    }

    .informacoes {
        flex-direction: column;
    }

    .informacoes-empresa {
        align-items: center;
    }

    .nome-formulario, #descricao-do-produto, .botao-adicionar-produto {
        width: 100%;
    }

}