body {
    width: 1440px;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.logo-header img {
    width: 100%;
}

.login-header {
    text-decoration: none;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 14px 50px;
    font-size: 12px;
    font-weight: 700;
}

.login-header a {
    text-decoration: none;
    color: #2A7AE4;
}

.banner {
    background-image: url("../img/banner-principal.png");
    /*width: 1440px;
    height: 352px;*/
    padding: 32px;
    margin-top: 80px;
    color: white;
}

.texto-banner {
   margin-left: 110px;
}

h1 {
    font-size: 52px;
    font-weight: 700; 
}

h1 p {
    font-size: 22px;
    font-weight: 700;
}

.ver-console {
    width: 130px;
    height: 51px;
    padding: 16px;
    background: #2A7AE4;
    color: white;
    border: none;
}

.secao-produtos {
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
}

.texto-topicos {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.texto-com-seta {
    display: flex;
    column-gap: 10px;
    margin: 30px 0 0;
}

.ver-tudo {
    color: #2A7AE4;
    font-weight: 700;
}

.seta {
    width: 16px;
    height: 50px;
}

.texto-itens {
    display: flex;
    column-gap: 10px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.nome-do-produto {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

.ver-produto {
    font-weight: 700;
    color: #2A7AE4; 
}

.informacoes {
    background: #EAF2FD;
    width: 1440px;
    height: 368px;
    display: flex;
    justify-content: space-around;
    padding: 50px 80px;
}

.informacoes-da-empresa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #464646;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;  
}

.fale-conosco {
    color: #464646;
    font-weight: 700;
}

.nome-formulario {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    width: 560px;
    height: 56px;
    row-gap: 5px;
    box-shadow: 0 2px #A2A2A2;
}

.nome-formulario label {
    color: #A2A2A2;
    font-size: 12px;
}

#nome {
    border: none;
}

#nome::placeholder {
    color: #464646;;
}

#mensagem {
    border: none;
    padding: 10px 0 0 10px;
    box-shadow: 0 2px #A2A2A2;
    resize: none;
}

.enviar-msg-contato {
    color: #FFFFFF;
    font-weight: 400;
    background: #2A7AE4;
    padding: 16px;
    border: none;
    text-align: center;
    width: 165px;
    height: 51px;
}

.rodape {
    text-align: center;
    background: #FFFFFF;
    padding: 10px;
    color: #464646;
    font-size: 13px;
    font-weight: 700;
}

.rodape a {
    text-decoration: none;
}



@media (min-width: 320px) and (min-width: 650px) {
   .login-header {
    font-size: 14px;
   } 

}