:root {
    --text-white: #FFF;
    --text-dark-grey: #464646;
    --text-grey: #A2A2A2;
    --text-red: #FF0000;

    --bg-light-grey: #E5E5E5;
    --bg-light-white: #EAF2FD; 
    --bg-blue: #2A7AE4;
}

.container-header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding: 32px 0 32px 120px;
}

.logo-header img {
    width: 110%;
}

#header-input {
    display: none;
 }

#header-input {
    padding: 8px 16px;
    width: 393px;
    height: 40px;
    background-color: var(--bg-light-grey);
    border-radius: 20px;
    border: none;
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 360px;
    outline: none;
}

#header-input::placeholder {
    color: var(--text-grey);
    font-size: 14px;
}

.secao-produtos {
    display: flex;
    flex-direction: column;
    background: var(--bg-light-grey);
    padding: px;
    padding: 64px 64px 64px 100px;
}

.texto-topicos {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.texto-topicos h2 {
    font-weight: 700;
    font-size: 22px;
    color: #464646;
}

.botao-adicionar {
    padding: 16px;
    background: var(--bg-blue);
    border: none;
    width: 164px;
    height: 51px;
    margin-right: 50px;
}

.botao-adicionar a {
    text-decoration: none;
    color: var(--text-white);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
}

.nome-do-produto {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
    margin: 8px 0;
}

.preco-produto {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
}

.ver-produto {
    font-weight: 500;
    font-size: 14px;
    color: #464646;
    margin-bottom: 50px;
}

.informacoes {
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
}

.informacoes-desabilitado {
    display: none;
}

.logo-contato {
    text-align: center;
    margin-top: 32px;
}

.logo-contato img {
    width: 120px;
    text-align: center;
}

.menu-form {
    text-align: center;
}

.menu-form ul {
    padding: 0;
}

.menu-form li {
    font-size: 16px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column; 
}

li {
    list-style: none;
}

.fale-conosco {
    color: #464646;
    font-weight: 700;
    margin: 8px;
}

.nome-formulario {
    display: flex;
    flex-direction: column;
    background: var(--text-white);
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    border-radius: 5px;
    height: 56px;
    row-gap: 5px;
    box-shadow: 0 2px var(--text-grey)A2;
}

.nome-formulario label {
    color: var(--text-grey)A2;
    font-size: 12px;
}

#nome {
    border: none;
    border-radius: 5px;
    outline: none;
}

#nome::placeholder {
    color: #464646;;
}

.alerta {
    margin: 10px 0 5px;
    font-size: 11px;
    color: red;
    display: none;
}

#mensagem {
    border: none;
    padding: 10px 0 0 10px;
    box-shadow: 0 2px var(--text-grey)A2;
    resize: none;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
}

.enviar-msg-contato {
    color: var(--text-white);
    font-weight: 400;
    background: var(--bg-blue);
    border: none;
    text-align: center;
    width: 151px;
    height: 40px;
    margin-top: 8px;
}

.rodape {
    text-align: center;
    background: var(--text-white);
    padding: 10px;
    color: #464646;
    font-size: 13px;
    font-weight: 700;
}

.rodape a {
    text-decoration: none;
    color: #464646;
}

@media (min-width: 320px) and (min-width: 830px) {

   .login-header {
    font-size: 14px;
   }

   .texto-banner h1 {
    font-size: 52px;
    font-weight: 700;
    }

    .texto-banner p {
        font-size: 22px;
    }
    
    .logo-header img {
        width: 140%;
    }

    .login-header {
    font-size: 14px;
    } 

    .header-search {
        width: 100%;
        max-width: 393px;
    }

    #header-input {
        display: inline;
        background-image: url("../img/lupa.svg");
        background-repeat: no-repeat;
        background-position: 350px 10px;
        padding: 8px 16px;
        padding-left: 1.3em;
        height: 40px;
        border-radius: 20px;
        background-color: var(--bg-light-grey);
        border: none;
        width: 393px;
    }

    #header-lupa {
        display: none;
    }

    .tres {
        display: inline;
    }

    .quatro {
        display: inline;
    }

    .texto-banner {
        font-size: 52px;
    }


    .informacoes {
        display: flow-root;
        
    }

    .container-contato {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }

    .logo-contato img {
        width: 140px;
    }

    .menu-form {
        text-align: initial;
    }

    .menu-form li {
        margin-bottom: 24px;
    }

    .conosco-container {
        width: 60%;
    }

}


@media (min-width: 1100px) {
    .cinco {
        display: inline;
    }

    .seis {
        display: inline;
    }

    .informacoes-desabilitado {
        display: inline;
    }

    .card-informacao-menu {
        display: none;
    }
}

@media (max-width:600px) {
    .texto-topicos {
        display: block;
    }

    .texto-topicos h2 {
        font-size: 20px;
    }
}